body{
    background-image: url(Img/pryecto.gif);
    background-attachment: fixed;
    background-size: cover; 
    background-position: center; 
}
.texto{
    text-align: center;
    color: #79e911;
}
.masVendidos{
    text-align: center;
    color: #79e911;
}



.imagenes  {
display: flex;
justify-content: space-between;
}


.imagenes :hover {
    transform: scale(1.1);
}
/*navbar*/
.navbar {
    text-align: center;
    padding: 1%;
    color: #ffff;
    background-color: black;
    border-width: 20px;
    border-radius: 10px;
    list-style-type: none;
    margin: 0;z|
    padding: 1%;
    overflow: hidden;
}

.navbar a {
        float: left;
        display: block;
        color: #79e911;
        text-align: left; 
        padding: 14px 16px;
        text-decoration: none;
      }
.navbar a:hover {
        background-color: #111;}

        /*Nosotros*/
.nosotros {
    color: aliceblue;
    background-color: black;
    text-align: center;
    padding: 3%;
    border: 5px solid #333;
    border-radius: 10px;
    margin: auto;
 }
.nosotros h1{
    text-align: center;
}

/*Paginas*/

.paginas{
    display: flex;
    justify-content: space-between;
    color: #79e911;
    background-color: ;
    text-align: center;
    padding: 3%;
    border: 5px solid #333;
    border-radius: 10px;
    margin: auto;*/
}

/*Categorias*/

.categorias{
    color: #79e911;
    padding: 3%;
    border: 5px solid #333;
    border-radius: 10px;
    margin: auto;
}
a {
    text-decoration: none ;
    color: aliceblue;
}

.premio {
    display: none;
}