body{
    background-color: #fff6ff;
}
/*barra nav*/
.navbar {
    background-color: #0e265f;
    padding: 10px;
    color: white;
    text-align: center;
    transition: top 0.3s; 
}
.navbar.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    color:#eeecf5;
    text-decoration: none;
    margin: 0 15px;
    text-align: center;
    font-size: 30px;
    transition: red 0.3s ;
}
.navbar a:hover{
    color: #fff15e;

}

/*Inicio*/
.inicio {
    text-align: center;
    font-size: 30px;
    background-color: #0e265f;
    color: #eeecf5;
    padding: 10px;
}

.foto {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    border: 5px solid #fff6ff ;
  }

  .sobremi{
    font-size: 25px;
    text-align: center;
    
  }
  #parrafo1 {
    font-size: 35px;
  }

  /*sobremi*/

  .detalles {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.perfil, .intereses, .ubicacion {
    text-align: center; 
    width: 30%;
    margin: 10px;
}
.perfil img, .intereses img, .ubicacion img {
    max-width: 100%;}

    /*habilidades*/
.habilidades{
    text-align: center;
    font-size: 25px;
}
#habilidades1 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.html, .css, .javascript {
    color: #e2e2e2;
    text-align: center;
    width: 200px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #77777c ;
    background-color: #0e2e64;
}
/*Contatos*/
.contactos{
    display: flex;
    justify-content: center;
    border: 5px solid #77777c;
    background-color: #0e2e64;
}